body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



#a {
  border: 1px solid black;
  background-color: #A52A2A;
  width: 100%;
  padding: 20px;
  font-family: Helvetica;
  color: white;
  display: flex;             
  justify-content: flex-start;
  align-items: center;       
  gap: 10px;                 
}


#a1, #a2, #a3 {
  border: 1px solid black;
  background-color: green;
  width: 50px;
  height: 10px;
  padding: 0;                
  margin: 0;                 
}


.row {
  display: flex;
  flex-wrap: wrap;
}

/* big >= 992px */
@media (min-width: 992px) {
  .col {
    float: left;
    width: 33.33%;
  }
}



/* mid 768-991px */
@media (min-width: 768px) and (max-width: 991px) {
  .col:nth-child(1),
  .col:nth-child(2) {
    width: 50%;
  }

  .col:nth-child(3) {
    width: 100%;
  }
}


/* small < 768px */
@media (max-width: 767px) {
  .col {
    width: 100%;
  }
}
