
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#a {
 
  border: 1px solid black;
  background-color: #A52A2A;
  width: 100%;
  height: 150px;
  margin-right: auto;
  margin-left: auto;
  font-family: Helvetica;
  color: white;
  padding: 20px;
  
}
#a1 {

 
  border: 1px solid black;
  background-color: green;
  width: 50px;
  height: 10px;
  margin-right: auto;
  margin-left: auto;
  font-family: Helvetica;
  color: black;
  padding: 20px;
  position: relative;
  bottom: 207px;
  right: -100px;
 
}
#a2 {

 
  border: 1px solid black;
  background-color: green;
  width: 50px;
  height: 10px;
  margin-right: auto;
  margin-left: auto;
  font-family: Helvetica;
  color: black;
  padding: 20px;
  position: relative;
  bottom: 207px;
  right: -100px;
}
#a3 {

 
  border: 1px solid black;
  background-color: green;
  width: 50px;
  height: 10px;
  margin-right: auto;
  margin-left: auto;
  font-family: Helvetica;
  color: black;
  padding: 20px;
  position: relative;
  bottom: 207px;
  right: -100px;
}
.row {
  display: flex;
  flex-wrap: wrap; /* nextline */
 
}



 


/* big 992px */
@media (min-width: 992px) {
  .col {
    float: left;
    width: 33%;
    width: 33.33%;
    
  }

 
}

/* med 768px - 991px */
@media (min-width: 768px) and (max-width: 991px) {
  /* 1-2 50% */
  .col:nth-child(1),
  .col:nth-child(2) {
    width: 50%;
    
    
  }

  /* 3rd 100% */
  .col:nth-child(3) {
    width: 120%;
    
  }
}

/* small (< 768px) */
@media (max-width: 767px) {
  .col {
    width: 100%; 
  }
}


